@font-face {
    font-family: 'FuturaPTDemi';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(../fonts/FuturaPTDemi.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(../fonts/HelveticaNeueCyr-Roman.woff) format('woff');
  }

  body {
    overflow-x: hidden;
  }

  @keyframes btn-highlight {
    0% {
        left: -75px
    }
  
    20% {
        left: 120%
    }
  
    to {
        left: 120%
    }
  }

  .slick-prev {
    left: 5px;
  }
  .slick-next {
    right: 5px;
  }
  .slick-prev, 
  .slick-next {
    z-index: 10;
  }
  .slick-prev:before, 
  .slick-next:before {
    color: rgb(0 0 0 / 70%);
  }

  .rotate {
    animation: rotate-animation 3s infinite;
  }

  @keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-20deg);
    }
  
    20% {
        transform: rotate(-10deg);
    }
  
    100% {
        transform: rotate(-360deg);
    }
  }

  textarea {
    resize: none;
  }

  textarea:focus-visible {
    outline: none;
  }

  textarea:hover {
    border: 1px solid #60a47c !important;
  }

  ymaps[class*="suggest-item_selected_yes"] {
    background: rgba(96, 164, 124, 0.08);
  }

  a:-webkit-any-link {
    text-decoration: none;
  }

  ymaps[class*="inner-panes"] {
    border-radius: 12px;
  }
  ymaps[class*="-balloon"] {
    border-radius: 12px;
  }
